<h2>Tareas listadas</h2>
<hr />

<div class="mb-2">
  <select (change)="getTaskByOption($event)" name="" id="" class="form-select">
    <option class="text-center" value="" disabled selected>
      ------Listar tareas------
    </option>
    <option  *ngFor="let option of options" class="text-center" [value]="option">{{option}}</option>
  </select>
</div>
<div class="row-2 mt-3">
  <ul class="list-group">
    <label for="" class="mb-2">Tarea</label>
    <li
    class="d-flex mb-2 justify-content-between align-items-center list-group-item"
    *ngFor="let task of listTask; let i = index"
  >
    {{ task.task }}

    <button
      class="btn"
      disabled
      [ngClass]="
        task.selectTask === 'Completada' ? 'btn btn-success' : 'btn-warning'
      "
    >
      {{ task.selectTask }}
    </button>

    <button class="btn btn-danger text-white" (click)="deleteTask(task.id)">
      X
    </button>
  </li>
  </ul>
</div>

<div class="text-center" *ngIf="listTask.length === 0">
  <hr>
  <h3>No hay tareas que mostrar</h3>
</div>

<!-- paginación -->
<!-- <div class="justify-content-center">
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item disabled">
        <a class="page-link">Previous</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
  </nav>

</div> -->
